<h4>Top artists by country</h4>
<table class="table table-striped table-condensed">
    <thead>
    <tr>
        <th>Name</th>
        <th>Listeners</th>
        <th>Top Albums</th>
        <th>Top Fans</th>
        <th>Top Tracks</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="artist in artistsResult.topartists.artist | orderBy:listeners">
        <td><a href="{{artist.url}}">{{artist.name}}</a></td>
        <td>{{artist.listeners}}</td>
        <td><a href="#/topAlbums/{{artist.name}}">Top albums</a></td>
        <td><a href="#/topFans/{{artist.name}}">Top fans</a></td>
        <td><a href="#/topTracks/{{artist.name}}">Top tracks</a></td>
    </tr>
    </tbody>
</table>